@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: hsl(259, 100%, 65%);
  --primary-2: hsl(0, 100%, 67%);
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: hsl(0, 0%, 94%);
  --neutral-3: hsl(0, 0%, 86%);
  --neutral-4: hsl(0, 1%, 44%);
  --neutral-5: hsl(0, 0%, 8%);
  --font-size: 32px;
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
}

.container {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--neutral-2);
}

.card {
  width: 768px;
  padding: 3rem;
  background-color: var(--neutral-1);
  border-radius: 1.5rem;
  border-end-end-radius: 10rem;
  display: flex;
  flex-direction: column;
}

.input-grid {
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  border-bottom: 2px solid var(--neutral-3);
}

.label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  color: var(--neutral-4);
}

.input {
  outline: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--neutral-3);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4rem;
  width: 100%;
}

.input::placeholder {
  font-weight: 700;
}

.input:focus {
  border-color: var(--primary-1);
}

.input-error {
  border-color: var(--primary-2);
}

.error-line {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.error {
  color: var(--primary-2);
}

.submit-btn {
  display: flex;
  justify-content: end;
  align-items: end;
}

.btn {
  border: none;
  padding: 1rem;
  background-color: var(--primary-1);
  border-radius: 50%;
  margin-bottom: -5rem;
  z-index: 5;
  transition: all 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--neutral-5);
}

.output-display {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.output-group {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  display: flex;
  gap: 1rem;
}

.output {
  color: var(--primary-1);
}

@media screen and (max-width: 768px) {
  .card {
    padding: 3rem 1.5rem;
    width: 90vw;
    margin: 1rem auto;
    border-end-end-radius: 7rem;
  }

  .input-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0fr;
    gap: 1rem;
  }

  .submit-btn {
    grid-column: 1/-1;
    grid-row: 2/-1;
    justify-content: center;
    align-items: flex-end;
  }

  .btn {
    margin-bottom: -4.7rem;
  }

  .btn > img {
    height: 2rem;
    width: 2rem;
  }

  .output-display {
    padding-top: 3rem;
  }

  .output-group {
    font-size: 3rem;
  }
}
